<div class="show-content">
  <p><strong>Title:</strong><%= @book.title %></p>
  <p><strong>Body:</strong><%= @book.body %></p>
</div>
<div class="show-link">
  <%= link_to "Edit", edit_book_path, class: "link" %>|
  <%= link_to "Back",books_path,class: "link" %>
</div>
